.navbar{
	 border-radius: 0px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  border-radius: 0px;
}

.navbar .navbar-collapse {
  text-align: center;
}
#name{
	margin-left: 20px;
	margin-right: 20px;
	color: gold;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: red;
}
